.login-page-container {
  width: 100vw;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.login-title {
  color: var(--secondary-color);
}

.login-form {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.login-form-title {
  color: var(--primary-color);
}

.login-form-input-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 5px;
}

.login-form-input {
  width: 100%;
  height: 35px;
  border: 2px solid var(--third-color);
  border-radius: 10px;
  padding: 5px;
}

.login-form-password-forgotten {
  font-size: 10px;
  align-self: flex-end;
}

.login-form-button {
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 50px;
  box-shadow: 0 2px 4px var(--third-color);
  cursor: pointer;
}

.login-form-button:hover {
  background-color: var(--primary-color-hover);
  scale: 1.025;
  transition: 0.2s;
}

.login-form-go-to-register {
  font-size: 10px;
  align-self: flex-start;
}

.login-form-message {
  align-self: flex-end;
  font-size: 10px;
  color: var(--error-color);
}
